<label for="">Name</label>
<input type="text" name="name" value="<%= customer.name %>">
<label for="">Is Gold</label>
<input type="text" name="isGold" value="<%= customer.isGold %>">
<label for="">Phone Number</label>
<input type="text" name="phone" value="<%= customer.phone %>">